@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/8KhZd3VQBtXTAznvKjw-kxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
body{
	background-color: rgb(250, 250, 250);
	color: rgb(51, 51, 51);
}
h1, h2 {
	font-family: Raleway, Sans, sans-serif;
	margin-top: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: underline;
}
#wrapper{
	width: 80%;
	margin: 100px auto;
}
#leftCol{
	width: 15%;
	min-width: 150px;
	text-align: right;
	float:left;
	margin-right: 30px;
}
#branding{
}
#nav{
}
#nav ul{
	list-style: none;
}
#contentWrapper{
	display: inline-block;
	width: 70%;
	min-width: 200px;
	min-height: 500px;
	padding-top: 6px;
}
#content{
}
.currentPage{
	font-weight: bold;
}
.depth1{
	font-size: 90%;
}

